# Virtual Environment
.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# ChromaDB
chroma_db/

# Temporary Files( save .wav files of uploaded videos)
temp/

# Uploaded Files( video folder for uploads to retain the data)
uploads/
